@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"Roobert";
  src: url("../src/assets/fonts/RoobertMedium.ttf")
}

@font-face {
  font-family:"Roxborough";
  src: url("../src/assets/fonts/RoxboroughCF-DemiBoldItalic.otf")
}

@font-face {
  font-family:"RoobertReg";
  src: url("../src/assets/fonts/RoobertRegular.ttf")
}